.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    padding-bottom: 20%;
    
}
.box {
    background-color: #f0f0f0;
    border-color: #119DD9;
    border-width: 2px;
    border-radius: 15px;
    padding: 20px;
    width: 20%;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1{
    color: #119DD9; 
    font-size: large;
    font-weight: 600;
    font-style: normal;
}

h2{
    color: #119DD9; 
    padding-left: 8%;
    padding-bottom: 3%;
    font-size:3cap;
    font-weight: 700;
    font-style: normal;
}

.boxCampus{
    background-color: #119DD9;
    border-width: 2px;
    border-radius: 15px;
    padding: 20px;
    width: 20%;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.titreCampus{
    color: #f0f0f0;

}
.paragrapheCampus{
    color: #f0f0f0;

}

